TWITTER SPAMMING . COM bitches!
<a href="/">Home</a>
<hr />
{% if request.user.is_authenticated %}
    Hello, {{ request.user.username }}! 
    <a href="{% url test_tweet %}">Test tweet</a>
    <a href="{% url profile %}">Profile</a>
    <a href="{% url logout %}">Log Out</a>
    <hr />
        set your marketing strategy preferences in your profile page
{% else %}
    <a href="{% url twitter_signin %}">Sign in with Twitter</a> What will I do with this? Nothing.  I will do nothing if you sign in.  You must explicitly tell me to run a strategy for you to market to your customers, and set up the strategy.  You will not start spamming people unless you flip the switch.
{% endif %}
<hr />
{% block main %}
{% endblock %}

